#about.reg-width.centered.text-center
  img.img-circle(style='padding-bottom: 10px;', src='http://s.joshcai.com/profile.png', width='125')
  h1.text-center JOSH CAI
  p#music
  hr
  .text-center
    p
      | 22-year-old recent CS grad of 
      a(href='http://www.utdallas.edu/')  University of Texas at Dallas
