body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

#about {
  margin-top: 15vh;
}

.reg-width {
  width: 500px;
}

.large-width {
  width: 800px;
}

a {
  color: #69BE28;
  text-decoration: none;
}

a:hover {
  color: #C9DD03;
}

a .socicon {
  color: #E98300;
}

a .socicon:hover {
  color: #FFB612;
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

#projects {
  margin-bottom: 20px;
}

#contact {
  margin-bottom: 35px;
}

.col {
  position: relative;
  min-height: 1px;
  width: 33.3333333333%;
  float: left;
}

.padded {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 820px) {
  .large-width {
    width: auto;
  }

  .col {
    width: 520px;
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 520px) {
  .reg-width {
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .col {
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
}

h1,h2{
  font-family:'Fjalla One', "Cambria", Georgia, serif;
  font-size: 3em;
  font-weight: normal;
  color: #555;
  margin-top: .15em;
  margin-bottom: -0.2em;
}

.caps {
  font-family:'Fjalla One', "Cambria", Georgia, serif;
  font-size: 1.75em;
  font-weight: normal;
  color: #888;
}

.centered{
  margin: 0 auto;
  float: none;
}

.clear {
  clear: both;
}

/*.hidden {
  display: none;
}*/

@font-face {
  font-family: 'socicon';
  src: url('../font/socicon-webfont.eot');
  src: url('../font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/socicon-webfont.woff') format('woff'),
       url('../font/socicon-webfont.ttf') format('truetype'),
       url('../font/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.socicon {
  font-family: 'socicon' !important;
  font-size: 2em;
}
