#about.reg-width.centered.text-center
  img.img-circle(style='padding-bottom: 10px;', src='img/profile.png', width='125')
  h1.text-center JOSH CAI
  hr
  .text-center
    p
      | 20-year-old studying Computer Science and Mathematics at the
      a(href='http://www.utdallas.edu/')  University of Texas at Dallas