#contact.reg-width.centered.text-center
  .text-center
    a(href='http://www.linkedin.com/pub/josh-cai/59/584/a55')
      span.socicon j
    | &nbsp;&nbsp;
    a(href='https://github.com/joshcai')
      span.socicon Q
    br