doctype html
html(lang='en')
head
  title Josh Cai
  meta(charset='"utf-8"')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='google-site-verification', content='R3_hgyC0vSCHDavQeRj3ZH4kgVPiyYIkcVd70d-5WzU')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  link(rel='stylesheet', href='css/styles.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Fjalla+One', rel='stylesheet', type='text/css')
  script.
    (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-47823647-1","auto");ga("send","pageview")
  body
    include about.jade
    include contact.jade
    include projects.jade
