.text-center
  span.caps PROJECTS
#projects.large-width.centered.container
  each row in rows
    .row
      each project in row
        .col-md-6.text-center
          a(href=project.link)
            h4 !{project.name}
          p !{project.desc}
